body { font-family: 'Inter', sans-serif; }
.color-primary-green { color: #059669; }
.bg-primary-green { background-color: #059669; }
.color-secondary-blue { color: #2563eb; }
.bg-secondary-blue { background-color: #2563eb; }
.tab-button.active { border-bottom: 4px solid #059669; color: #059669; }
